<div class="primer-componente">
  <div class="primer-componente-elemento">
    <h3>AUSTRALIA'S FIRST CHOICE IN SKIP HIRE</h3>
  </div>
  <div class="primer-componente-elemento">
      <p>
        For all your rubbish cleanup, home renovation or construction needs we provide convenient, reliable and competitively priced skups bin hire services to homeowners, trades people, builders, landscapers, warehouses and all sectors of industry.
      </p>
  </div>
  <div class="primer-componente-elemento">
    <p>
      We are a full service skip company and we realise that one size does not fit all, so we are happy to work with you to provide you with a solution for your wate collection needs. Skip bins available in size ranging from 2 to 25 cubic meters.
    </p>
  </div>
</div>z