<div class="heroe"></div>
  <div class="buscador">
    <h1>ONLINE QUOTES & BOOKINGS</h1>
    <div class="sub-buscador">
      <label for="post">ENTER POST CODE OR SUBURB</label>
      <input name="post" type="text">
    </div>
    <div class="sub-buscador1">
      <div class="sub1" >
        <label for="pickup-date">PICKUP DATE</label>
        <input name="pickup-date" type="date">
      </div>
      <div class="sub2" >
        <label for="return-date">RETURN DATE</label>
        <input name="return-date" type="date">
      </div>
    </div>
    <div class="div-boton">
    <button class="boton">GO TO STEP 2</button>
  </div>
  </div>
